---
---
<section id="About" class="flex flex-col md:flex-row justify-center items-center h-screen w-full bg-[url('./icons/split_background.svg')] bg-no-repeat bg-cover bg-center gap-5 text-pretty">
    <div class="flex flex-col text-white gap-5 w-[90%] md:w-[40%]">
        <h1 class="text-3xl text-orange_miski">Nosotros</h1>
        <p>Somos Compañía Minera Miski Mayo S.R.L, una empresa minera no metálica peruana, pionera en la región Piura. Explotamos yacimientos de fosfatos para producción de concentrados que exportamos a través de nuestro puerto</p>
        <p>Nuestra empresa contribuye al desarrollo agrícola y a la producción de alimentos, mediante el procesamiento de roca fosfórica para producir fosfato, insumo ecológico necesario para la elaboración de fertilizantes, los cuales garantizan la producción y calidad de los alimentos que el mundo consume.</p>
    </div>
    <img src="images/cat.webp" alt="" class="md:w-[40%]" >
</section>