<section class="flex flex-col md:flex-row justify-center items-center h-screen w-full gap-5 mt-20">
    <img src="images/colaborador.webp" alt="" class="[mask-image:_linear-gradient(to_bottom,_#F3D117_20%,_transparent)]">
    <div class="flex flex-col text-white gap-5 p-5  md:w-[50%]">
        <h1 class="text-3xl text-orange_miski">Trabaja con Nosotros</h1>
        <p>Miski Mayo buscamos crecer y evolucionar junto al talento de la gente de nuestra área de influencia. En nuestros comienzos, al ser pioneros en un departamento del Perú sin experiencia minera, invertimos 16.9 millones de soles para capacitar a 587 pobladores de nuestro AID, a través de diversos programas de entrenamiento, Por ello, actualmente contamos con 675 colaborares.</p>      
        <div class="flex gap-10">
            <div class="flex flex-col">
                <h3 class="text-orange_miski text-2xl">58%</h3>
                <p>Procede de la provincia de Sechura</p>
            </div>
            <div>
                <h3 class="text-orange_miski text-2xl">77%</h3>
                <p>Pertenece a la región Piura</p>
            </div>
        </div>
        <p>Asimismo, contamos con el programa de Prácticas Profesionales “transformar”, donde damos oportunidad a los jóvenes piuranos recién egresados.</p>  
        <button class="flex items-center justify-center border border-orange_miski w-48 p-5 mt-5 hover:bg-orange_miski">Ofertas laborales</button>
    </div>    
</section>