---
import ManagementItem from "./ManagementItem.astro";
---

<section
  class="w-full h-full grid grid-cols-10 auto-rows-[20rem] gap-4 mx-auto p-20"
>
  <ManagementItem class="col-span-10 md:col-span-4" title="Miski Mayo">
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 bg-center bg-cover bg-no-repeat w-full h-full opacity-90 bg-blend-luminosity -z-10 overflow-hidden rounded-xl"
      style="background-image: url('/images/planta_miski.webp')"
    >
    </div>
  </ManagementItem>

  <ManagementItem 
    class="col-span-10 md:col-span-6" 
    title="Fospibay">
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 bg-top bg-cover bg-no-repeat w-full h-full opacity-90 bg-blend-luminosity -z-10 overflow-hidden rounded-xl"
      style="background-image: url('/images/fospibay.webp')"
    >
    </div>
  </ManagementItem>

  <ManagementItem
    class="col-span-10 md:col-span-6"
    title="Comunidad Campesina"> 
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 bg-center bg-cover bg-no-repeat w-full h-full opacity-90 bg-blend-luminosity -z-10 overflow-hidden rounded-xl"
      style="background-image: url('/images/comunidad.webp')"
    >
    </div>
  </ManagementItem>

  <ManagementItem 
    class="col-span-10 md:col-span-4" 
    title="Gobiernos Locales">
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 bg-center bg-cover bg-no-repeat w-full h-full opacity-90 bg-blend-luminosity -z-10 overflow-hidden rounded-xl"
      style="background-image: url('/images/vice.webp')"
    >
    </div>
  </ManagementItem>

  <ManagementItem
    class="col-span-10 md:col-span-4"
    title="Entidades Educativas">
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 bg-center bg-cover bg-no-repeat w-full h-full opacity-90 bg-blend-luminosity -z-10 overflow-hidden rounded-xl"
      style="background-image: url('/images/education.webp')"
    >
    </div>
  </ManagementItem>

  <ManagementItem 
    class="col-span-10 md:col-span-6" 
    title="Contratistas">
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 bg-center bg-cover bg-no-repeat w-full h-full opacity-90 bg-blend-luminosity -z-10 overflow-hidden rounded-xl"
      style="background-image: url('/images/contratistas.webp')"
    >
    </div>
  </ManagementItem>
</section>
