<section class="flex flex-col md:flex-row-reverse justify-center items-center h-screen w-full gap-10 bg-orange_miski">
    <div class="flex flex-col text-white gap-5 w-[90%] md:w-[45%]">
        <h1 class="text-3xl">Operaciones</h1>  
        <p>Tenemos una operaciòn amigable con el medio ambiente ya que, durante todo nuestro proceso productivo, realizamos acciones que reflejan nuestro sincero compromiso con el cuidado del planeta.</p> 
        <p>En Miski Mayo, nuestra misión es transformar recursos naturales en prosperidad y desarrollo. Por ello, buscamos que nuestros fosfatos cumplan con los más altos estándares de calidad para llegar a construir una relación sólida con nuestros clientes.</p>     
    
    </div>
    <img src="images/operations.webp" alt="" class="" width="380px">
</section>