---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Main from "../components/Main.astro";
import About from "../components/sections/About.astro";
import Operation from "../components/sections/Operation.astro";
import Management from "../components/sections/Management.astro";
import Jobs from "../components/sections/Jobs.astro";
---
<Layout title="Miskimayo">
  <main class="flex flex-col h-screen w-full">
    <Navbar />    
    <Main />
  </main>
  <About />
  <Operation />
  <Management />
  <Jobs />  
</Layout>