---
---
<main class="flex justify-center items-center h-screen w-full bg-no-repeat bg-cover bg-center bg-[url('images/miski.webp')] md:[mask-image:_linear-gradient(to_bottom,_#F3D117_80%,_transparent)]">
    <aside class="flex flex-col justify-center items-center text-white gap-5">
        <h1 class="flex text-6xl text-center">
            PRODUCIMOS FOSFATO
        </h1>
        <p class="text-2xl text-center">Insumo ecológico para la elaboración de fertilizantes</p>
        <button class="w-32 h-12 mt-5 bg-[#F3D117] text-black rounded">Ver màs</button>
    </aside>
</main>