<header class="text-white text-[14px]">
  <nav class="flex justify-between items-center bg-[#DA2026] h-20 py-4 px-6">
    <div class="md:hidden">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-menu-deep"
        width="44"
        height="44"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="#ffffff"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M4 6h16"></path>
        <path d="M7 12h13"></path>
        <path d="M10 18h10"></path>
      </svg>
    </div>

    <a href="http://www.miskimayo.com/" target="_blank">
      <img src="/images/logo.webp" alt="" srcset="" class="w-[150px]" />
    </a>

    <div class="hidden md:flex gap-5">
        <a href="mailto:" class="hover:text-orange_miski ">Nosotros</a>
        <a href="mailto:" class="hover:text-orange_miski ">Operaciones</a>
        <a href="mailto:" class="hover:text-orange_miski ">Gestion social</a>
        <a href="mailto:" class="hover:text-orange_miski ">Trabaja con nosotros</a>
        <a href="mailto:" class="hover:text-orange_miski ">Noticias</a>
    </div>
    
  </nav>

  <div class="flex gap-5 justify-center items-center h-20">
    <div class="flex gap-3">
      <img src="/images/iso-9001.png" alt="" srcset="" class="w-12" />
      <div class="flex flex-col">
        <h1>ISO 9001: 2008</h1>
        <p>Compañía Certificada</p>
      </div>
    </div>
    <div class="flex gap-3">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-map-pin-2"
        width="44"
        height="44"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="#F3D117"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 18.5l-3 -1.5l-6 3v-13l6 -3l6 3l6 -3v7"></path>
        <path d="M9 4v13"></path>
        <path d="M15 7v5"></path>
        <path
          d="M21.121 20.121a3 3 0 1 0 -4.242 0c.418 .419 1.125 1.045 2.121 1.879c1.051 -.89 1.759 -1.516 2.121 -1.879z"
        ></path>
        <path d="M19 18v.01"></path>
      </svg>
      <div class="flex flex-col">
        <h1>PERÚ</h1>
        <p>Sechura, Piura</p>
      </div>
    </div>
  </div>
</header>
